// carousel

.carousel {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.carousel img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 25px;
}

// arrow

img.arrowLeft,
img.arrowRight {
  position: absolute;
  top: 45%;
  width: 40px;
  height: auto;
  cursor: pointer;
  z-index: 1;
}

img.arrowLeft {
  left: 10px;
}

img.arrowRight {
  right: 10px;
}

// logement
.logement-groupe {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.logement-title {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
}

.logement-location {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

// tag

.tag {
  background-color: #ff6060;
  color: white;
  padding: 5px 30px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 25px;
}

.logementg2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  @media (max-width: 768px) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.host-info {
  display: flex;
  align-items: center;
  flex-direction: row;

  margin-bottom: 20px;
  width: 167px;
}

.host-picture {
  height: 64px;
  border-radius: 50%;
  margin-left: auto;
}

.host-name {
  color: #ff6060;
  font-size: 18px;
  text-align: right;
  padding-right: 10px;
}

// rating
.rating-stars {
  display: flex;
  gap: 10px;
  margin-left: -10px;
  width: auto;
  @media (max-width: 768px) {
    margin-top: 24px;
  }
}

.star-filled {
  color: #ff6060;
}

.star-empty {
  color: #d3d3d3;
}

.fa-star {
  font-size: 24px;
}
// collapse

.collapse-logement {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  @media (max-width: 768px) {
    flex-direction: column;
    justify-self: center;
  }
}

.collapse-logement .collapse-container {
  margin: 0;
  width: 582px;

  @media (max-width: 768px) {
    margin-bottom: 20px;
    width: 335px;
  }
}

// try
